.photos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
  
.image {
    display: block;
    width: 20%;
}
  
.desc {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
}
  
.photo-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}