.gallery {
    margin: 5px;
    float: left;
    width: 150px;
}

.gallery:hover {
    border: 1px solid #777;
}
  
.gallery img {
    width: 100%;
    height: auto;
}
  
.desc {
    padding: 5px;
    text-align: center;
}
